body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Arial', sans-serif;
}

#animation-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#plane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fly 5s linear infinite;
}

#cloud-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('clouds.jpg') no-repeat center center/cover;
    animation: clouds 5s linear infinite;
}

#text-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.stranger-things {
    font-family: 'Stranger Things', sans-serif; /* Use the Stranger Things font */
    display: none;
}

#heart-container {
    position: relative;
    display: none;
}

#heart {
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50% 50% 0 0;
    transform: rotate(-45deg);
    margin-top: 50px;
}

#heart:before,
#heart:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: red;
}

#heart:before {
    top: -100px;
    left: 0;
}

#heart:after {
    top: 0;
    left: 100px;
}

#yeana-photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes fly {
    from {
        left: -10%;
    }
    to {
        left: 110%;
    }
}

@keyframes clouds {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100% 0;
    }
}
